<section class="portfolio-3 portfolio-tab portfolio-style-3 dt-section">
    <div class="container">
        <div class="home-3-title">
            <span>{{content.field_tagline.0}}</span>
            <h2>{{content.field_title.0}}</h2>
        </div>
        {{content.field_portfolio_03}}
        <div class="center-btn">
            <a href="{{content.field_read.0['#url']}}" class="btn btn-outline-primary btn-style-4 btn-lg" title="{{content.field_read.0['#title']}}">{{content.field_read.0['#title']}}</a>
        </div>
    </div>
</section>