<section class="contact-2 dt-section">
    <div class="container">
        <div class="row s-10">
            <div class="col-lg-4 col-md-5 col-12">
                <div class="details">
                    <h2>{{content.field_title.0}}</h2>
                        {{content.field_description.0}} 
                    <ul>
                        <li><a href="{{content.field_address_link.0['#url']}}" title="{{content.field_address.0}}">{{content.field_address.0}}</a></li>
                        <li><a href="tel:{{content.field_title1.0}}" title="{{content.field_phone.0}}">{{content.field_phone.0}}</a></li>
                        <li><a href="mailto:{{content.field_mail.0}}" title="{{content.field_mail.0}}">{{content.field_mail.0}}</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8 col-md-7 col-12">
                <div class="form-style-1">
                    {{content.field_contact_form.0}}
                </div>
            </div>
        </div>
    </div>
</section>

<section class="map contact-1-map">
    <div class="item">
        <div class="map-style-1">
            <div id="map-container-google-2" class="z-depth-1-half map-container">
                {{content.field_location_on_map.0}}
            </div>
        </div>
    </div>
</section>
