<section class="contact-3 bg-blue dt-section">
    <div class="container">
        <div class="row s-0">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="contact-details">
                    <img src="{{file_url(content.field_image['#items'].entity.uri.value)}}" alt="content.field_image['#items'].alt">
                    <ul class="details">
                        <li><span>{{content.field_title1.0}}</span>{{content.field_address.0}}</li>
                        <li><span>{{content.field_title2.0}}</span><a href="tel:{{content.field_phone.0}}" title="{{content.field_phone.0}}">{{content.field_phone.0}}</a></li>
                        <li><span>{{content.field_title3.0}}</span><a href="{{content.field_mail.0}}" title="mail@domain.com">{{content.field_mail.0}}</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <div class="contact-form">
                    <div class="home-3-title left-side">
                        <span>{{content.field_tagline.0}}</span>
                        <h2>{{content.field_title.0}}</h2>
                    </div>
                    <div class="contactForm">
                    <div class="form-style-2">
                        {{content.field_contact_form.0}}
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>