{% set front_page = url('<front>') %}
<div class="list">
    <h6><a href="{{fields.view_node.content}}" title="{{fields.title.content}}">{{fields.title.content}}</a></h6>
    <span><a href = "/front_page/taxonomy/term/{{fields.field_category_1.content}}" title="{{fields.field_category.content}}">{{fields.field_category.content}}</a></span>
</div>
