<section class="cta-video-2 bg-blue">
    <div class="container">
        <div class="row s-0 align-items-center">
            <div class="col-lg-8 col-md-7 col-12">
                <div class="video-content">
                    <div class="video-style-2">
                        <div class="item">
                            <div class="image">
                                <img src="{{file_url(content.field_image['#items'].entity.uri.value)}}" alt="{{content.field_image['#items'].alt}}">
                                <div class="overlay">
                                    <a data-fancybox="video-gallery" data-src="{{content.field_video_link.0['#url']}}" title="{{content.field_video_link.0['#title']}}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 200 200">
                                            <g  transform="translate(-140.348 -70.352)">
                                                <path data-name="Path 255" d="M240.348,70.352a100.106,100.106,0,1,0,70.681,29.321,100.008,100.008,0,0,0-70.681-29.321Zm0,190.983a91.112,91.112,0,1,1,64.3-26.688,90.982,90.982,0,0,1-64.3,26.688Z" transform="translate(0 0)" fill="#131517"/>
                                                <path data-name="Path 256" d="M347.177,226.441,294.55,195.413h0a9.024,9.024,0,0,0-13.6,7.774v62.057a8.98,8.98,0,0,0,13.6,7.764l52.627-31.028h0a9.021,9.021,0,0,0,0-15.538Z" transform="translate(-72.711 -63.864)" fill="#131517"/>
                                            </g>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-5 col-12">
                <div class="content">
                    <h2>{{content.field_title}}</h2>
                    <a href="{{content.field_buy_now.0['#url']}}" class="btn btn-outline-primary btn-style-4 btn-lg white" title="Title">{{content.field_buy_now.0['#title']}}</a>
                </div>
            </div>
        </div>
    </div>
</section>