<form {{attributes}}>
	<div class="row s-7-5">
  		<div class="form-group col-md-6">
			{{ element.elements.your_name }}
		</div>
		<div class="form-group col-md-6">
			{{ element.elements.email }}
		</div>		
			{{ element.elements.subject2 }}
			{{ element.elements.message }}
	</div>
	{{ element.elements.actions }}
	{{ element.form_build_id }}
	{{ element.form_token }}
	{{ element.form_id }}
</form>


					