<div class="list">
    <img src="{{fields.field_image.content}}" alt="{{fields.field_image_1.content}}">
    <div class="list-content">
        <h6><a href="{{fields.view_node.content}}" title="{{fields.title.content}}">{{fields.title.content}}</a></h6>
        <span>{{fields.created.content}}</span>
    </div>
</div>
    