<div class="item">
    <h3 class="accordion-header">
        <button type="button" class="border-style" data-bs-toggle="collapse" data-bs-target="#One{{paragraph.id()}}" aria-controls="One{{paragraph.id()}}" aria-expanded="true">
            {{content.field_question.0}}
        </button>
    </h3>
    {% if delta == 0 %}
    <div id="One{{paragraph.id()}}" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
    {% else %}
    <div id="One{{paragraph.id()}}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
    {% endif %}
        {{content.field_description.0}}
    </div>
</div>