<section class="faq-page dt-section">
    <div class="container">
        <div class="accordion-style-1" id="accordionExample">
            {{content.field_faq}}                    
        </div>
    </div>
</section>
<section class="faq-cta-page bg-blue dt-section">
    <div class="container">
        <div class="item">
            <h2>{{content.field_title.0}}</h2>
            <a href="{{content.field_buy_now.0['#url']}}" class="btn btn-outline-primary btn-style-4 btn-lg white" title="{{content.field_buy_now.0['#title']}}">{{content.field_buy_now.0['#title']}}</a>
        </div>
    </div>
</section>