<div class="col-lg-4 col-md-6 col-12">
    <div class="item">
        <div class="image">
            <img src="{{fields.field_image.content}}" alt="{{fields.field_image_1.content}}">
            <div class="overlay">
                <ul class="social-icons">
                    {{fields.field_social_media_links.content}}
                </ul>
            </div>
        </div>
        <h4>{{fields.field_name.content}}</h4>
        <span>{{fields.field_designation.content}}</span>
    </div>
</div>