<div class="item">
    <img src="{{fields.field_image.content}}" alt="{{fields.field_image_1.content}}">
    <h4>{{fields.field_name.content}}</h4>
    <span>{{fields.field_designation.content}}</span>
    <ul class="social-icons">
        {{fields.field_social_media_links.content}}
    </ul>
</div>
