<section class="about-us-1-skills dt-section">
    <div class="container">
        <div class="row content">
            <div class="col-lg-6 col-md-12 col-12">
                <h2>{{content.field_title.0}}</h2>
            </div>
            <div class="col-lg-3 col-md-12 col-12">
                <div class="content-item">
                    <h4>{{content.field_title1.0}}</h4>
                    {{content.field_description.0}}
                </div>
            </div>
            <div class="col-lg-3 col-md-12 col-12">
                <div class="content-item">
                    <h4>{{content.field_title2.0}}</h4>
                    {{content.field_description_2.0}}
                </div>
            </div>
        </div>
        <div class="row s-15 justify-content-center">
            {% for key,value in content.field_images['#items'] %}
            <div class="col-lg-4 col-md-6 col-12">
                <div class="image">
                    <img src="{{file_url(content.field_images['#items'][key].entity.uri.value)}}" alt="{{content.field_images['#items'][key].alt}}">
                </div>
            </div>
            {% endfor %}
        <div class="skills-2">
            <div class="row s-35">
                {{content.field_skill_2}}
            </div>
        </div>
    </div>
</section>