<div class="col-lg-4 col-md-6 col-12">
    <div class="item">
        <div class="icon">
            {{fields.field_icon.content}}
        </div>
        <h5><a href="{{fields.view_node.content}}" title="{{fields.title.content}}">{{fields.title.content}}</a></h5>
        <p>{{fields.body.content}}</p>
        <a href="{{fields.view_node.content}}" class="btn btn-link btn-link-primary btn-sm" title="{{fields.nothing.content}}">{{fields.nothing.content}}</a>
    </div>
</div> 
