<div class="col-lg-4 col-md-6 col-12">
    <a href="{{fields.view_node.content}}" class="item" title="{{fields.title.content}}">
        <div class="icon">
            {{fields.field_icon.content}}            
        </div>
        <h4>{{fields.title.content}}</h4>
        <p>{{fields.body.content}}</p>
    </a>
</div>
                    
