{% set base_url = url('<front>')  %}
{% if login_banner_image_url %}
    <section class="page-banner" style="background-image: url({{login_banner_image_url}});">
{% else %}
    <section class="page-banner" style="background-image: url({{base_url}}/assets/subpage_banner.jpg);">
{% endif %}
        <div class="container">
            <div class="heading">
                <h1>{{login_banner_title}}</h1>
                <ol class="breadcrumb">
                    {{ drupal_block('system_breadcrumb_block') }}
                </ol>
            </div>
        </div>
    </section>
<section class="login dt-section">
    <div class="container">
        <div class="row s-35">
            <div class="col-lg-7 col-md-7 col-12">
                <div class="login-form">
                    <form>
                    {% if login_page_title %}
                        <h2>{{ login_page_title }}</h2>
                    {% endif %}
                        <div class="form-group">
                            {{ form.name }}
                            {% if login_name_help_text %}
                            <span>{{login_name_help_text}}</span>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.pass }}
                            {% if login_password_help_text %}
                            <span>{{login_password_help_text}}</span>
                            {% endif %}
                        </div>
                        <div class="login-btn">
                            <div class="btn-wrapper">
                                {{ form.actions }}
                                <a href="{{base_url}}/user/password" class="forgot-link" title="Forgot Password">Forgot Password?</a>
                            </div>
                            <p>Don't have an account? <a href="{{base_url}}/user/register" class="login-link" title="Sign Up">Sign up</a></p>
                        </div>
                        {{ form.form_build_id }}
                        {{ form.form_id }}
                    </form>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-12 d-none d-md-block">
                <div class="image">
                {% if login_image_url %}
                    <img src="{{login_image_url}}" alt="Image">
                {% else %}
                    <img src="{{base_url}}/sites/default/files/2022-08/about-us-1.jpg" alt="Image">
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>


