{% set front_page = url('<front>') %}
<div class="col-lg-6 col-md-12 col-12">
    <div class="item">
        <div class="image-wrapper">
            <a href="{{fields.view_node.content}}" class="image" title="{{fields.title.content}}">
                <img src="{{fields.field_image.content}}" alt="{{fields.field_image_1.content}}">
            </a>
            <div class="overlay">
                <a href="{{front_page}}taxonomy/term/{{fields.field_category_1.content}}" class="tag" title="{{fields.field_category.content}}">{{fields.field_category.content}}</a>
            </div>
        </div>
        <div class="item-content">
            <h4><a href="{{fields.view_node.content}}" title="{{fields.title.content}}">{{fields.title.content}}</a></h4>
            <span>{{fields.created.content}}</span>
        </div>
    </div>
</div>
                        