{% set front_page = url('<front>') %}
<div class="item">
    <div class="image-wrapper">
        <a href="{{fields.view_node.content}}" class="image" title="{{fields.title.content}}">
            <img src="{{fields.field_image.content}}" alt="{{fields.field_image_1.content}}">
        </a>
        <div class="overlay">
            <a href="{{front_page}}taxonomy/term/{{fields.field_category_1.content}}" class="tag" title="{{fields.field_category.content}}">{{fields.field_category.content}}</a>
        </div>
    </div>
    <div class="item-content">
        <span>{{fields.created.content}}</span>
        <h3><a href="{{fields.view_node.content}}" title="{{fields.title.content}}">{{fields.title.content}}</a></h3>
        <p>{{fields.body.content}}</p>
        <a href="{{fields.view_node.content}}" class="btn btn-link btn-link-primary btn-lg" title="{{fields.nothing.content}}">{{fields.nothing.content}}</a>
    </div>
</div>
<hr class="section-divider">
    
           