<div class="col-lg-4 col-md-6 col-12">
    <div class="item">
        <a href="{{fields.view_node.content}}" class="image" title="title">
            <img src="{{fields.field_image.content}}" alt="{{fields.field_image_1.content}}">
        </a>
        <div class="item-content">
            <span>{{fields.created.content}}</span>
            <h5><a href="{{fields.view_node.content}}" title="{{fields.title.content}}">{{fields.title.content}}</a></h5>
            <a href="{{fields.view_node.content}}" class="btn btn-link btn-link-primary btn-sm" title="{{fields.nothing.content}}">{{fields.nothing.content}}</a>
        </div>
    </div>
</div>