{% set front_page = url('<front>') %}
<div class="col-lg-4 col-md-6 col-12">
    <div class="item">
        <a href="{{fields.view_node.content}}" class="image" title="{{fields.title.content}}">
            <img src="{{fields.field_image.content}}" alt="{{fields.field_image_1.content}}">
        </a>
        <div class="item-content">
            <ul>
                <li><a href="{{front_page}}taxonomy/term/{{fields.field_category_1.content}}" title="{{fields.field_category.content}}">{{fields.field_category.content}}</a></li>
                <li>{{fields.created.content}}</li>
            </ul>
            <h5><a href="{{fields.view_node.content}}" title="{{fields.title.content}}">{{fields.title.content}}</a></h5>
            <p>{{fields.body.content}}</p>
        </div>
    </div>
</div>