<section class="blog-style-3 dt-section">
    <div class="container">
        <div class="home-3-title">
            <span>{{content.field_tagline}}</span>
            <h2>{{content.field_title}}</h2>
        </div>
        <div class="row s-15">
            {{content.field_blog}}
        </div>                      
        <div class="center-btn">
            <a href="{{content.field_read.0['#url']}}" class="btn btn-outline-primary btn-style-4 btn-lg" title="{{content.field_read.0['#title']}}">{{content.field_read.0['#title']}}</a>
        </div>
    </div>
</section>