<section class="about-1 dt-section">
    <div class="container">
        <div class="row home-1-s-grid">
            <div class="col-lg-3 col-md-12 col-12">
                <div class="home-1-title left-side">
                    <h2>{{content.field_title.0}}</h2>
                </div>
            </div>
            <div class="col-lg-9 col-md-12 col-12">
                <div class="content">
                    <h3>{{content.field_title1.0}}</h3>
                        {{content.field_description.0}}                            
                    <a href="{{content.field_read.0['#url']}}" class="btn btn-primary btn-style-1 btn-lg" title="{{content.field_read.0['#title']}}">{{content.field_read.0['#title']}}</a>
                </div>
            </div>
        </div>
    </div>
</section>