<section class="about-us-3 dt-section">
    <div class="container">
        <div class="row s-30">
            <div class="col-lg-6 col-md-12 col-12">
                <div class="content">
                    <div class="home-3-title left-side">
                        <span>{{content.field_title.0}}</span>
                        <h2>{{content.field_title1.0}}</h2>
                    </div>
                        {{content.field_description.0}}
                    <a href="{{content.field_read.0['#url']}}" class="btn btn-outline-primary btn-style-4 btn-lg" title="Title">{{content.field_read.0['#title']}}</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-12">
                <div class="image-and-counters">
                    <div class="row s-10">
                        {{content.field_counter_2}}                                
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>