<div class="item bg-image" style="background-image: url({{file_url(content.field_image['#items'].entity.uri.value)}});">
    <div class="container">
        <div class="item-content">
            <hr>
            <h2>{{content.field_title.0}}</h2>
            <a href="{{content.field_read.0['#url']}}" class="btn btn-primary btn-style-3 btn-lg white" title="{{content.field_read.0['#title']}}">{{content.field_read.0['#title']}}</a>
        </div>
    </div>
</div>