<div class="item">
    <div class="container">
        <div class="row s-0">
            <div class="col-lg-6 col-md-12 col-12">
                <div class="content">
                    <span>{{content.field_tagline.0}}</span>
                    <h2>{{content.field_title.0}}</h2>
                        {{content.field_description.0}}
                    <a href="{{content.field_read.0['#url']}}" class="btn btn-primary btn-style-2 btn-lg" title="{{content.field_read.0['#title']}}">{{content.field_read.0['#title']}}</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12 d-none d-lg-block">
                <div class="image">
                    <img src="{{file_url(content.field_image['#items'].entity.uri.value)}}" alt="{{content.field_image['#items'].alt}}">
                    <div class="overlay">
                        <svg xmlns="http://www.w3.org/2000/svg" width="696" height="580.001" viewBox="0 0 696 580.001">
                            <path id="Exclusion_1" data-name="Exclusion 1" d="M376.338,580h.093ZM696,580H377.063c89.838-.27,156.054-46.234,204.4-79.8l.04-.028c3.749-2.6,7.289-5.06,10.773-7.449A161.43,161.43,0,0,1,647.339,466.7a159.739,159.739,0,0,1,39.57-5.206,86.981,86.981,0,0,1,9.09.386V580Zm-321.06,0H0V235.334C.031,320.2,44.753,401.818,132.926,477.922a624,624,0,0,0,68.58,47.96,441.131,441.131,0,0,0,63.153,31.479c9.884,3.921,19.843,7.377,29.6,10.272,9.449,2.8,18.974,5.162,28.312,7.007,9.024,1.783,18.124,3.138,27.048,4.027,8.438.84,16.957,1.288,25.321,1.33ZM0,234.273H0V0H118.109c-.063.052-7.428,6.146-18.448,17.389-6.427,6.557-12.789,13.531-18.91,20.727-7.652,9-14.946,18.367-21.679,27.852a345.247,345.247,0,0,0-40.6,74.387C6.345,171.567.13,203.166,0,234.273Z" fill="#fff"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>