{% set front_page = url('<front>') %}
{% if  fields.field_banner_image.content %}
<section class="page-banner" style="background-image: url('{{fields.field_banner_image.content}}');">
    <div class="container">
        <div class="heading">
            <h1>{{fields.title.content}}</h1>
            <div class="breadcrumb">
                {{ drupal_block('system_breadcrumb_block') }}
            </div>
        </div>
    </div>
</section>
{% else %}
<section class="page-banner overlay-unset">
    <div class="container">
        <div class="heading">
            <h1>{{fields.title.content}}</h1>
            <div class="breadcrumb">
                {{ drupal_block('system_breadcrumb_block') }}
            </div>
        </div>
    </div>
</section>
{% endif %}
