<div class="item">
    <img src="{{fields.field_image.content}}" alt="{{fields.field_image_1.content}}">
    <svg data-name="Group 40481" xmlns="http://www.w3.org/2000/svg" width="200" height="138" viewBox="0 0 200 138">
        <path data-name="Path 257" d="M284.944,183.807a4.2,4.2,0,0,1,4.039,2.852,3.918,3.918,0,0,1-1.7,4.505,85.188,85.188,0,0,0-24.957,24.348c-5.744,8.806-6.241,14.093-5.765,15.326a2.293,2.293,0,0,0,.277.014c15.695,0,28.8,4.609,37.885,13.331a41.062,41.062,0,0,1,9.777,14.587,47.36,47.36,0,0,1,3.236,17.559,44.092,44.092,0,0,1-14,32.157,48.719,48.719,0,0,1-33.789,13.32,47.688,47.688,0,0,1-33.845-13.488c-8.992-8.879-13.94-21.295-13.94-34.953,0-36.136,16.34-57.973,30.044-69.929,16.516-14.4,34.6-19.63,42.733-19.63ZM259.954,313.778c21.695,0,39.345-16.8,39.345-37.444,0-18.1-11.155-37.444-42.457-37.444-4.086,0-7.21-2.143-8.352-5.735-2.376-7.473,4.478-18.7,7.537-23.177a88.516,88.516,0,0,1,10.884-12.967,80.627,80.627,0,0,0-19,12.357c-12.456,10.865-27.309,30.793-27.309,64.008,0,23.41,16.549,40.4,39.348,40.4Z" transform="translate(-107.737 -183.807)" fill="#131517"/>
        <path data-name="Path 258" d="M433.814,183.807a4.2,4.2,0,0,1,4.039,2.852,3.917,3.917,0,0,1-1.7,4.505A85.193,85.193,0,0,0,411.2,215.513c-5.744,8.806-6.241,14.093-5.764,15.326a2.279,2.279,0,0,0,.276.014c15.7,0,28.8,4.609,37.885,13.331a41.062,41.062,0,0,1,9.778,14.587,47.37,47.37,0,0,1,3.235,17.559,44.092,44.092,0,0,1-14,32.157,48.719,48.719,0,0,1-33.789,13.32,47.688,47.688,0,0,1-33.845-13.488c-8.991-8.879-13.94-21.295-13.94-34.953,0-36.136,16.34-57.973,30.044-69.929,16.517-14.4,34.6-19.63,42.734-19.63ZM408.822,313.778c21.695,0,39.345-16.8,39.345-37.444,0-18.1-11.155-37.444-42.457-37.444-4.086,0-7.21-2.143-8.352-5.735-2.376-7.473,4.478-18.7,7.537-23.177a88.533,88.533,0,0,1,10.884-12.967,80.617,80.617,0,0,0-19,12.357c-12.456,10.865-27.309,30.793-27.309,64.008,0,23.41,16.552,40.4,39.348,40.4Z" transform="translate(-361.037 -183.807)" fill="#131517"/>
    </svg>
    <p>{{fields.body.content}}</p>
    <hr>
    <h4>{{fields.field_name.content}}</h4>
    <span>{{fields.field_designation.content}}</span>
</div>