<div id="header-3" class="header fixed-top header_type {{active_3}}">
		<div class="topbar">
			<div class="container">
				<ul>
					<li><a href="tel:{{phone_number}}" title="{{phone}}">{{phone}}</a></li>
					<li><a href="{{mail}}" title="{{mail}}">{{mail}}</a></li>
				</ul>
			</div>
		</div>
		<div class="navbar-wrapper navigation-sticky">
			<div class="container">
				<nav class="navbar navbar-expand-lg">
					<div class="res-header">
						{# Logo #}
						{{page.logo}}
						<div class="res-header-right d-lg-none">
							{# Language #}
							{{page.language_block}}
							<button class="navbar-toggler menu" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown-three" aria-controls="navbarNavDropdown-three" aria-expanded="false" aria-label="Toggle navigation">
								<svg xmlns="http://www.w3.org/2000/svg" width="120" height="90" viewBox="0 0 120 90">
									<path data-name="Icon metro-menu" d="M6.427,100.283h120v-15h-120v15Zm0-37.5h120v-15h-120v15Zm0-52.5v15h120v-15h-120Z" transform="translate(-6.427 -10.283)" fill="#121619"/>
								</svg>
								<span class="overlay">
									<svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 200 200">
										<g data-name="Group 40484" transform="translate(12865.792 17231.004)">
											<path data-name="Path 39630" d="M216.989,146.977a100.12,100.12,0,0,0,0,141.441,100.014,100.014,0,0,0,141.5,0,100.034,100.034,0,1,0-141.5-141.439ZM348.826,278.76c-33.477,33.463-88.351,33.463-122.174,0-33.477-33.463-33.477-88.315,0-122.123a86.37,86.37,0,1,1,122.172,122.12Z" transform="translate(-13053.531 -17348.746)" fill="#131517"/>
											<path data-name="Path 39631" d="M355.482,216.72l-29.521,29.521L296.44,216.72l-9.724,9.724,29.521,29.521-29.521,29.522,9.724,9.724,29.521-29.521,29.521,29.521,9.724-9.724-29.521-29.522,29.521-29.521Z" transform="translate(-13091.763 -17386.988)" fill="#131517"/>
										</g>
									</svg>
								</span>
							</button>
						</div>
					</div>
					<div class="collapse navbar-collapse" id="navbarNavDropdown-three">
						{# Menu Bar #}
						{{page.primary_menu}}
						<div class="header-right d-none d-lg-flex">
							{# Language#}
							{{page.language_block}}
							<ul class="search-btn d-none d-lg-block">
								<li class="">
									<a class="search-icon" data-bs-toggle="modal" data-bs-target="#searchModal">
										<svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" viewBox="0 0 120 120">
											<path data-name="Path 38950" d="M121.029,111.565,98.369,88.972a52.783,52.783,0,0,0,11.263-32.656,53.316,53.316,0,1,0-53.316,53.316A52.783,52.783,0,0,0,88.972,98.369l22.593,22.659a6.692,6.692,0,1,0,9.464-9.464ZM16.329,56.316A39.987,39.987,0,1,1,56.316,96.3,39.987,39.987,0,0,1,16.329,56.316Z" transform="translate(-3 -3)" fill="#1a1725"/>
										</svg>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</div>