{% extends "block.html.twig" %}
{#
/**
 * @file
 * Bartik's theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% set front_page = url('<front>') %}
{% set attributes = attributes.addClass('site-branding') %}
{% block content %}
  {% if site_name or site_slogan %}
    <div class="site-branding__text navbar-brand">
      {% if site_name %}
        <h2>{{ site_name }}</h2>
      {% else %}
      {% if site_logo %}
        <a class="navbar-brand" href="{{ front_page }}" title="{{ 'Home'|t }}">
          <img src="{{ site_logo }}" alt="Home" class="img-fluid">
        </a>
      {% endif %}
      {% endif %}
      {% if site_slogan %}
        <div class="site-branding__slogan">{{ site_slogan }}</div>
      {% endif %}
    </div>
  {% elseif site_slogan and site_logo %}
    <a class="navbar-brand" href="{{ front_page }}" title="{{ 'Home'|t }}">
      <img src="{{ site_logo }}" alt="Home" class="img-fluid">
    </a>
    <div class="site-branding__slogan">{{ site_slogan }}</div>
  {% else %}
    {% if site_logo %}
      <a class="navbar-brand" href="{{ front_page }}" title="{{ 'Home'|t }}">
        <img src="{{ site_logo }}" alt="Home" class="img-fluid">
      </a>
    {% else %}
      <a class="navbar-brand" href="{{ front_page }}" title="{{ 'Home'|t }}">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 191.11 42.71"><defs><style>.cls-1{fill:#2d66f7;}.cls-2{fill:#fff;}</style></defs><title>Home</title><polygon points="21.91 29.16 21.45 29.16 10.43 2.29 0 2.29 0 42.29 8.2 42.29 8.2 16.15 8.54 16.15 18.89 42.09 24.47 42.09 34.82 16.25 35.16 16.25 35.16 42.29 43.36 42.29 43.36 2.29 32.93 2.29 21.91 29.16"/><path d="M223.84,258.16a6.46,6.46,0,0,1-.79,3.38,5.44,5.44,0,0,1-2.12,2.06,5.93,5.93,0,0,1-2.81.69,4.83,4.83,0,0,1-3.77-1.54,6,6,0,0,1-1.43-4.2V240.93H204.6V260a13.36,13.36,0,0,0,1.3,6,9.3,9.3,0,0,0,3.56,3.88,10.06,10.06,0,0,0,5.3,1.37,9.93,9.93,0,0,0,5.73-1.6,8.89,8.89,0,0,0,3.37-4.24h.31v5.45h8v-30h-8.32Z" transform="translate(-154.44 -228.65)"/><rect x="84.35" y="2.29" width="8.32" height="40"/><path d="M268.06,264.53a5.89,5.89,0,0,1-1.18.11,3.9,3.9,0,0,1-1.47-.25,2,2,0,0,1-1-.89,3.79,3.79,0,0,1-.35-1.79V247.18h5.65v-6.25h-5.65v-7.19h-8.32v7.19h-4.1v6.25h4.1v15.63a8.78,8.78,0,0,0,1.23,4.88,7.3,7.3,0,0,0,3.51,2.85,12.56,12.56,0,0,0,5.26.8,15.43,15.43,0,0,0,2.76-.32c.75-.18,1.34-.33,1.75-.46L269,264.37Z" transform="translate(-154.44 -228.65)"/><path d="M279.31,237.06a4.46,4.46,0,0,0,3.17-1.24,4,4,0,0,0,0-5.93,4.68,4.68,0,0,0-6.35,0,4,4,0,0,0,0,5.93A4.46,4.46,0,0,0,279.31,237.06Z" transform="translate(-154.44 -228.65)"/><rect x="120.68" y="12.29" width="8.32" height="30"/><rect class="cls-1" x="141.11" width="50" height="28" rx="3.65"/><path class="cls-2" d="M305.56,249.44V235.65h5.57a5.82,5.82,0,0,1,2.75.59,4.15,4.15,0,0,1,1.72,1.65,4.84,4.84,0,0,1,.6,2.43,4.72,4.72,0,0,1-.61,2.43,4.12,4.12,0,0,1-1.75,1.63,6.1,6.1,0,0,1-2.78.59H307.5v-2.34h3.07a3.13,3.13,0,0,0,1.43-.29,1.9,1.9,0,0,0,.84-.82,2.45,2.45,0,0,0,.28-1.2,2.42,2.42,0,0,0-.28-1.2,1.92,1.92,0,0,0-.84-.8,3.21,3.21,0,0,0-1.44-.29h-2v11.41Z" transform="translate(-154.44 -228.65)"/><path class="cls-2" d="M318.09,249.44V239.1H321v1.8h.11a2.65,2.65,0,0,1,1-1.46,2.61,2.61,0,0,1,1.57-.49l.48,0a4.12,4.12,0,0,1,.45.08v2.54a4.06,4.06,0,0,0-.57-.1,5.73,5.73,0,0,0-.67-.05,2.42,2.42,0,0,0-1.16.27,2,2,0,0,0-.8.76,2.08,2.08,0,0,0-.29,1.12v5.85Z" transform="translate(-154.44 -228.65)"/><path class="cls-2" d="M330.34,249.65a5.45,5.45,0,0,1-2.78-.68,4.53,4.53,0,0,1-1.81-1.87,5.92,5.92,0,0,1-.63-2.79,6,6,0,0,1,.63-2.81,4.59,4.59,0,0,1,1.81-1.87,6.08,6.08,0,0,1,5.55,0,4.53,4.53,0,0,1,1.81,1.87,6,6,0,0,1,.64,2.81,5.92,5.92,0,0,1-.64,2.79,4.47,4.47,0,0,1-1.81,1.87A5.44,5.44,0,0,1,330.34,249.65Zm0-2.23a1.8,1.8,0,0,0,1.22-.41,2.39,2.39,0,0,0,.74-1.11,5.11,5.11,0,0,0,0-3.22,2.43,2.43,0,0,0-.74-1.12,1.85,1.85,0,0,0-1.22-.41,1.91,1.91,0,0,0-1.24.41,2.52,2.52,0,0,0-.75,1.12,5.31,5.31,0,0,0,0,3.22,2.49,2.49,0,0,0,.75,1.11A1.86,1.86,0,0,0,330.35,247.42Z" transform="translate(-154.44 -228.65)"/></svg>
      </a>
    {% endif %}
  {% endif %}
{% endblock %}
