<div class="footer-2">
    <h5>{{label}}</h5>
    <ul>
        <li><a href="https://maps.google.com" title="{{content.field_address.0}}">{{content.field_address.0}}</a></li>
        <li><a href="tel:{{content.field_mobile_number.0}}" title="{{content.field_phone.0}}">{{content.field_phone.0}}</a></li>
        <li><a href="mailto:{{content.field_mail.0}}" title="{{content.field_mail.0}}">{{content.field_mail.0}}</a></li>
    </ul>
</div>