{% if content.field_tagline.0 %}
<div class="col-lg-4 col-md-6 col-12">
    <div class="item recommended">
        <span class="price">{{content.field_currency.0}}{{content.field_price.0}}</span>
        <span>{{content.field_period.0}}</span>
        <hr>
        <h3>{{content.field_title.0}}</h3>
        <ul class="list-style-1">
            {{content.field_benefits_2}}
        </ul>
        <a href="{{content.field_buy_now.0['#url']}}" class="btn btn-outline-primary btn-style-4 btn-lg" title="{{content.field_buy_now.0['#title']}}">{{content.field_buy_now.0['#title']}}</a>
        <div class="recommended-label">
            <svg xmlns="http://www.w3.org/2000/svg" width="208" height="200" viewBox="0 0 208 200">
                <path data-name="Path 39779" d="M188.229,24.8l32.637,55.5,62.509,14.166a5.41,5.41,0,0,1,4.057,6.461,5.334,5.334,0,0,1-1.208,2.39l.014.006-42.325,48.525,5.956,64.32a5.4,5.4,0,0,1-4.852,5.869,5.252,5.252,0,0,1-2.6-.416l-.006.014-58.84-25.592-58.841,25.592a5.365,5.365,0,0,1-7.061-2.84,5.455,5.455,0,0,1-.362-3.055l5.918-63.889L80.9,103.32a5.446,5.446,0,0,1,.485-7.647,5.337,5.337,0,0,1,2.726-1.29l62.159-14.089,32.682-55.566a5.345,5.345,0,0,1,7.351-1.908,5.4,5.4,0,0,1,1.938,1.979ZM212.8,87.809,183.564,38.094,154.324,87.809h-.006a5.347,5.347,0,0,1-3.443,2.52L94.938,103l37.87,43.411-.013.014a5.427,5.427,0,0,1,1.317,4.057l-5.329,57.574,52.661-22.9a5.317,5.317,0,0,1,4.245,0l52.661,22.9L233.06,150.9a5.416,5.416,0,0,1,1.266-4.487l37.87-43.411L216.508,90.389a5.352,5.352,0,0,1-3.7-2.579Z" transform="translate(-79.562 -22.069)" fill="#131517"/>
            </svg>
        </div>
    </div>
</div>
{% else %}
<div class="col-lg-4 col-md-6 col-12">
    <div class="item">
        <span class="price">{{content.field_currency.0}}{{content.field_price.0}}</span>
        <span>{{content.field_period.0}}</span>
        <hr>
        <h3>{{content.field_title.0}}</h3>
        <ul class="list-style-1">
            {{content.field_benefits_2}}
        </ul>
        <a href="{{content.field_buy_now.0['#url']}}" class="btn btn-outline-primary btn-style-4 btn-lg" title="{{content.field_buy_now.0['#title']}}">{{content.field_buy_now.0['#title']}}</a>
    </div>
</div>
{% endif %}